# --- IMPORTANT: bootstrap! ---
chezmoi
just
age
fish
starship

# --- IMPORTANT: shells! ---
bash
zsh

# --- IMPORTANT: base system! ---
base
base-devel
linux
linux-headers
linux-zen
linux-zen-headers
linux-firmware
amd-ucode
efibootmgr
btrfs-progs
snapper
dosfstools
zram-generator

# --- IMPORTANT: core programs ---
gnupg
openssh
less
nano
wget
curl
tree
rsync
unzip
inetutils
mosh
fwupd

# --- meta + package management ---
pacman-contrib
man-db
reflector
flatpak
paru-git # paru-bin installing paru-git lol
topgrade-bin # the designated upgrade owner for this whole system

# --- jdks ---
jdk25-openjdk
jdk21-openjdk
jdk17-openjdk
jdk8-openjdk

# --- better coreutils ---
dust
duf
eza
bat
procs
fd
ripgrep
sd
hyperfine
tealdeer

# --- cli tools ---
zoxide
fzf
pwgen
jq
ffmpeg
imagemagick
oxipng
btop
direnv
pfetch-rs
shfmt
zellij
yt-dlp
trash-cli

# --- languages / frameworks ---
rustup
nodejs-lts-krypton # using LTS because some packages are picky about that

# --- vcs ---
git
git-lfs
github-cli
jujutsu
difftastic

# --- neovim ---
neovim
tree-sitter-cli

# --- typesetting ---
texlive-meta
typst
tinymist
typstyle

# --- fonts ---
noto-fonts-cjk
noto-fonts-emoji
ttf-fira-code
ttf-firacode-nerd
ttf-jetbrains-mono
ttf-jetbrains-mono-nerd
ttf-libertinus

# --- networking / remote access ---
networkmanager
bind
nmap
tailscale

# --- pipewire (audio) ---
pipewire
pipewire-alsa
pipewire-jack
pipewire-pulse
wireplumber

# --- apps: everywhere ---
# TODO: maybe a flatpak list? maybe even move some of these?
discord
element-desktop
signal-desktop
telegram-desktop
keepassxc
handbrake
ghostty-nightly-bin # TODO: consider stable ghostty again
zen-browser-bin
vscodium-bin

# TODO: need some way to declare "profiles" because like.
# all the desktop stuff and gaming and everything is missing.
