#!/bin/sh

# copies local brew formulae from the `formulae` directory of the repo to an actual brew tap.
# updates when the formula hashes change or new formulae are added:
# {{ range glob ".local/share/chezmoi/formulae/*.rb" }}
# {{ . }}: {{ include (joinPath $.chezmoi.homeDir .) | sha256sum }}
# {{ end }}
set -eu

{{ if eq .chezmoi.os "darwin" -}}

command -v brew >/dev/null 2>&1 || eval "$(/opt/homebrew/bin/brew shellenv)"

tapdir="$(brew --repository)/Library/Taps/max/homebrew-local"
[ -d "$tapdir" ] || brew tap-new max/local --no-git

cp "{{ .chezmoi.workingTree }}/formulae/"*.rb "$tapdir/Formula/"

brew trust max/local

{{- end }}
