#!/bin/sh

# installs packages from the pkglist as necessary
# updates when the file changes
set -eu

{{ if eq .chezmoi.os "linux" -}}
{{ $pkgs := includeTemplate "dot_config/paru/pkglist.txt.tmpl" . | regexReplaceAll `(?m)^\s*(#.*)?$\n?` "" -}}
{{ if $pkgs -}}

paru -S --needed - <<'PKGEOF'
{{ $pkgs -}}
PKGEOF

{{ end -}}
{{ end }}
